<div class="fluid-container mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="/">Product Mart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" [ngSwitch]="menuType">
                <ng-container *ngSwitchCase="'default'">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signup">Signup</a>
                    </li>
                </ng-container>
                <ng-container *ngSwitchCase="'customer'">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/orders">Orders</a>
                    </li>
                    
                    <li class="nav-item dropdown" (click)="isHidden = false" (mouseleave)="isHidden = true">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" aria-expanded="false">
                            {{userName | titlecase}}!
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown" [class.show]="!isHidden" (click)="isHidden = false" (mouseleave)="isHidden = true">
                            <li><a class="dropdown-item" href="#" (click)="onCustomerLogout()">Logout</a></li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</div>